/* 여백 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main, button{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* a 링크 초기화 */
a {
  color: inherit; text-decoration: none;
}

/* 폰트 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, input, textarea, select, button, table {
  font-family:  'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.6;
}
input, select {
  outline: none;
}
/* 폰트 스타일 초기화 */
em,address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,li,ol {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {
  font-size: 13px; font-weight: normal;
}

/* 버튼 초기화 */
button {
  border: 0; 
  background-color: transparent;
}

/* 반응형 */
img {
  display: block;
  width: 100%;
}

/* clearfix */
/* .clearfix{*zoom:1;} */
.clearfix::before, .clearfix::after {
  display: block; content: '';line-height: 0;
}

.clearfix:after {
  clear: both;
}

.ir {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* input style */
input {
  background-image: none;
}

input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
  -webkit-appearance: none;
  border-radius: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox
}

/* 스킵메뉴  */

.skip {
  position: relative;
}

.skip a {
  position: absolute;
  left: 0;
  top: -40px;
  width: 140px;
  border: 1px solid #fff;
  background: #333;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.skip a:active,
.skip a:focus {
  top: 0;
}
