body {
  background: #2F3336;
  color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 100px;
  margin-right: 20px;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid rgba(195, 206, 215, 0.2);
  font-size: 18px;
  font-weight: 500;
  color: #94b3ec;
}

.logo i {
  margin-right: 6px;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(195, 206, 215, 0.2);
}

.top-nav__btn {
  color: #c2ced6;
  font-size: 14px;
  margin-right: 10px;
  padding: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.top-nav__btn:hover {
  color: #94b3ec;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  height: calc(100vh - 59px);
  padding-top: 20px;
  border-right: 1px solid rgba(195, 206, 215, 0.2);
}

.tools__btn {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.tools__btn::before {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap;
  content: attr(data-text);
}

.tools__btn::after {
  display: none;
  position: absolute;
  left: 100%;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 5px solid #000;
  border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
  content: '';
}

.tools__btn:hover::before, .tools__btn:hover::after {
  display: block;
}

.tools__btn:hover i {
  color: #94b3ec;
}

.tools__btn i {
  font-size: 30px;
  color: #c2ced6;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #232527;
  border-right: 1px solid rgba(195, 206, 215, 0.2);
}

.canvas canvas {
  width: 600px;
  height: 600px;
  background: #fff;
}

.panel {
  width: 260px;
}

.panel-swatch {
  display: none;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(195, 206, 215, 0.2);
}

.panel-swatch h3 {
  padding-bottom: 12px;
  color: #c2ced6;
  font-size: 12px;
}

.panel-swatch__input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  background: #2F3336;
  cursor: pointer;
}

.panel-swatch table {
  width: 100%;
  margin-bottom: 12px;
}

.panel-swatch table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 4px;
}

.panel-swatch table td {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.panel-swatch table td:hover {
  opacity: .7;
}

.panel-swatch h4 {
  padding-bottom: 12px;
  color: #c2ced6;
  font-size: 12px;
}

.panel-stroke {
  display: none;
  padding: 10px 15px;
}

.panel-stroke h3 {
  color: #c2ced6;
  font-size: 12px;
  padding-bottom: 6px;
}

.panel-stroke__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel-stroke__range input {
  width: 100%;
  cursor: pointer;
}

.panel-stroke__range span {
  width: 20px;
  margin-left: 12px;
  text-align: right;
  color: #c2ced6;
}

.panel-text {
  display: none;
  padding: 10px 15px 20px;
  border-bottom: 1px solid rgba(195, 206, 215, 0.2);
}

.panel-text h3 {
  padding-bottom: 12px;
  color: #c2ced6;
  font-size: 12px;
}

.panel-text__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-text__option select {
  width: 90px;
  border: none;
  background: #232527;
  color: #fff;
}

.panel-text__option input {
  width: 35px;
  border: none;
  background: #232527;
  color: #fff;
}

.panel-text__input {
  width: 80%;
  margin-top: 15px;
  padding: 10px 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.panel-text__alert {
  display: none;
  margin-top: 10px;
  font-size: 12px;
}

.panel-img {
  display: none;
  padding: 10px 15px 20px;
  border-bottom: 1px solid rgba(195, 206, 215, 0.2);
}

.panel-img h3 {
  padding-bottom: 12px;
  color: #c2ced6;
  font-size: 12px;
}

.panel-img__ready {
  position: relative;
  height: 180px;
  margin-bottom: 12px;
  border: 2px dashed #c2ced6;
}

.panel-img__ready::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #c2ced6;
  font-size: 30px;
  content: '+';
}

.panel-img__ready img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.panel-img__upload {
  padding: 4px 6px;
  background: #232527;
  cursor: pointer;
}

.panel-img__upload:hover {
  background: #94b3ec;
}

.panel-img__upload input {
  display: none;
}

.panel-img__alert {
  display: none;
  margin-top: 10px;
  font-size: 12px;
}
